<main>
    <div class="flex">
        <h1>Chat</h1>
        <button class="profileSettings">Profile settings</button>
    </div>

    <dialog class="modal userSettingsForm" id="userSettingsModal">
        <form>
            <label>Username: <input id="userName"></label>
            <label style="display: none;">Bio: <input id="aboutSection"></label>
            <label style="display: none;">Profile picture URL<input id="profilePicURL"></label>
            <button>Submit</button>
        </form>
    </dialog>

    <div class="events"></div>
    <template>
        <article>
            <img alt="">
            <h2>name</h2>
            <h3>timestamp</h3>
            <p></p>
        </article>
    </template>
</main>

<footer>
    <div class="actionBar">
        <form class="messageForm">
            <input id="messageInput" placeholder="Type your message...">
            <button><img src="/6492707.png"></button>
        </form>
    </div>
</footer>

