<main>
    <h1>Chat</h1>

    <div class="events"></div>

    <template>
        <article>
            <img alt="">
            <h2>name</h2>
            <h3>timestamp</h3>
            <p></p>
        </article>
    </template>
</main>

<footer>
    <div class="actionBar">
        <form>
            <label class="actionBarTextField">
                <input id="messageInput" placeholder="Type your message...">
            </label>
            <button class="submitButton">
            </button>
        </form>
    </div>
</footer>

