<main>
    <h1>Chat</h1>

    <div class="events"></div>

    <template>
        <article>
            <img alt="">
            <h2>name</h2>
            <h3>timestamp</h3>
            <p></p>
        </article>
    </template>
</main>

<footer>
    <div class="actionBar">
        <form>
            <div class="actionBarTextField">
                <input id="messageInput" placeholder="Type your message...">
                <img class="submitButton" src="../views/6492707.png">
            </div>
        </form>
        </div>
</footer>

