<h1>Hipstr chat</h1>

<input id="privatekey" placeholder="private key">

<button id="loginButton">login</button>
<button id="createAccount">create account</button>

<dialog class="modal">
    <h2>note these: </h2>
    <span>Your public key is: <code id="pubKeyModal"></code></span>
    <span>(share with others)</span>
    <br><br>
    <span>Your private key is: <code id="privKeyModal"></code></span>
    <span>(don't tell anyone)</span>
    <br><br>
    <button class="close">noted! log me in.</button>
</dialog>

<script>
</script>



