/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


body {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.5;
}

article {
    padding: 0 1rem;
}

article h1, article h2, article h3 {
    font-size: inherit;
    display: inline;

}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

label {
    margin-bottom: 1rem;
}

label, input {
    display: block;
}

.modal {
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 2rem;
    background-color: #cccccc;
    color: black;
}

.modal button {
    background-color: #888888;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
}

.modal button:hover {
    transition: 0.25s;
    background-color: #1a1a1a;
    color: #eee;
}


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

section.chat {
    height: 100svh;
    display: flex;
    flex-direction: column;
}

.chat main {
    overflow: auto;
    flex-grow: 1;
}

.actionBar {
    background-color: #f5f5f5;
    padding: .3rem 1rem;
    border-top: 1px solid #ccc;
}

.actionBar form {
    display: flex;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

code {
    display: block;
    font-size: 144%;
}

section.login {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form {
    align-items: center;
    gap: .7rem;
}

input {
    flex-grow: 1;
}

input, button {
    padding: 0.75rem;
    font-size: 1rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    outline: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button img {
    height: 100%;
    width: 32px;
    height: 32px;
}

#app {
    max-width: 100%; /* Set to 100% to take up the full width */
    margin: 0 auto 0;
    text-align: left;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    button {
        background-color: #f9f9f9;
    }
}
